<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BufferSQLConnectionString" value=""/>
    <add key="BufferSQLInsert" value="INSERT TABLE VALUES (@ID,@TS,@VAL)"/>
    <add key="BufferSQLGetAll" value="SELECT TS, VAL FROM TABLE WHERE ID=@ID ORDER BY TS"/>
    <add key="BufferSQLDelete" value="DELETE FROM TABLE WHERE ID=@ID AND TS=@TS AND VAL=@VAL)"/>
    <add key="BufferSQLIDColumn" value="ID"/>
    <add key="BufferSQLTimeStampColumn" value="TS"/>
    <add key="BufferSQLValueColumn" value="VAL"/>
    <add key="BufferSQLIDParam" value="@ID"/>
    <add key="BufferSQLTimeStampParam" value="@TS"/>
    <add key="BufferSQLValueParam" value="@VAL"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup></configuration>
